<div class="row">
  <div class="col d-flex justify-content-between py-5">
    <h3>Movies</h3>
    <a routerLink="/movies/create" class="btn btn-success" *ngIf="(authState | async).authenticated">New Movie</a>
  </div>
</div>
<div class="card-deck" *ngIf="(moviesState | async).movies.length > 0; else loader">
  <app-movie-thumbnail *ngFor="let movie of (moviesState | async).movies; let i = index" [movie]="movie" [movieIndex]="i" [pageName]="'home'"></app-movie-thumbnail>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
