<div class="card mx-auto" style="width: 200px;">
  <img class="card-img-top" style="height: 200px; cursor: pointer;" src="{{ movie.poster }}" alt="{{ movie.name + ' ' + movie.caption }}" routerLink="/movies/{{ movieIndex }}">
  <div class="card-body" style="cursor:pointer;" routerLink="/movies/{{ movieIndex }}">
    <h5 class="card-title" style="font-size: 1rem;">
      {{ movie.name }}
      <p>
        <small class="text-muted">{{ movie.caption || movie.getMovieGenres(movieIndex)}}</small>
      </p>
    </h5>
    <app-rating [rating]="movie.rating.rating"></app-rating>
  </div>
  <div class="card-footer" *ngIf="pageName==='home'; else watchListFooter">
    <i class="fa fa-eye float-right"
       style="cursor: pointer;"
       *ngIf="watchListIndex === -1; else inWatchList"
       (click)="onAddToWatchList(movieIndex)"
    ></i>
    <ng-template #inWatchList>
      <i class="fa fa-eye float-right text-success"
         style="cursor: pointer;"
         (click)="onRemoveFromWatchList(movieIndex)"
      ></i>
    </ng-template>
    <i class="fa fa-trash float-right text-danger mx-3"
       style="cursor: pointer;"
       (click)="onDeleteMovie(movieIndex)"
    ></i>
    <a class="fa fa-pencil float-right text-info"
       style="cursor: pointer; text-decoration: none;"
       routerLink="/movies/{{ (watchListIndex !== -1) ? getMovieIndex(movieIndex) : movieIndex }}/edit"
    ></a>
  </div>
  <ng-template #watchListFooter>
    <div class="card-footer" >
      <i class="fa fa-eye float-right text-danger"
         style="cursor: pointer;"
         (click)="onRemoveFromWatchList(movieIndex)"
      ></i>
    </div>
  </ng-template>
</div>
